@font-face {
    font-family: 'yorkwhiteletterregular';
    src: url('/fonts/yorkwhiteletter-webfont.eot');
    src: url('/fonts/yorkwhiteletter-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/yorkwhiteletter-webfont.woff2') format('woff2'),
         url('/fonts/yorkwhiteletter-webfont.woff') format('woff'),
         url('/fonts/yorkwhiteletter-webfont.ttf') format('truetype'),
         url('/fonts/yorkwhiteletter-webfont.svg#yorkwhiteletterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: yorkwhiteletterregular;
	font-size: 72px;
	text-align: center;
}

html {
	background: #dedede;
	font-family: "Century Gothic", sans-serif;
}

.news-list {
	list-style-type: none;
	padding: 0;
}

.news-item {
	display: block;
	margin: 10px auto;
	width: 80%;
	max-width: 960px;
	background: white;
	padding: 10px;
	box-shadow: 0 0 10px #aaa;
}